In [1]:
import math

In [2]:
math.sqrt(16)

4.0

In [3]:
print("Alogrithm and Data Structure")

Alogrithm and Data Structure

In [4]:
#Basic_Operation

In [15]:
print(2*3*4)
print(20/10)
print(2**10)
print(15+10)
print(500-100)
print(6//3)
print(60%7)

24
2
1024
25
400
2
4

In [18]:
print(5==10)
print((5>=10)and (5<=10))

False
False

# ____List____###

In [ ]:
# A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements

In [22]:
mylist=[1,3,6,8]
print mylist

[1, 3, 6, 8]

In [52]:
#* is used for contacenate

In [25]:
A=[mylist]*3
print A

[[1, 3, 6, 8], [1, 3, 6, 8], [1, 3, 6, 8]]

In [32]:
mylist[2]=80

In [33]:
mylist

[1, 80, 80, 8]

In [34]:
mylist1=[20,1.9,True,30]

In [35]:
mylist1*2

[20, 1.9, True, 30, 20, 1.9, True, 30]

In [39]:
B=mylist1*4

In [40]:
print B

[20, 1.9, True, 30, 20, 1.9, True, 30, 20, 1.9, True, 30, 20, 1.9, True, 30]

In [41]:
#indexing Operation=Accessing of indivisual element

In [48]:
B[3]

30

In [49]:
#+Combine sequences together

In [51]:
print A+B

[[1, 80, 80, 8], [1, 80, 80, 8], [1, 80, 80, 8], 20, 1.9, True, 30, 20, 1.9, True, 30, 20, 1.9, True, 30, 20, 1.9, True, 30]

In [53]:
len(mylist1)

4

In [58]:
len(B)

16

In [59]:
len(mylist1)

4

In [60]:
###___Slicing____##

In [64]:
B[2:]

[True, 30, 20, 1.9, True, 30, 20, 1.9, True, 30, 20, 1.9, True, 30]

In [65]:
B[:2]

[20, 1.9]

In [66]:
B[2:9]

[True, 30, 20, 1.9, True, 30, 20]

In [67]:
D=[10,20,30,40,50]

In [79]:
D.append(100) ####_Appending_###

In [72]:
D

[10, 20, 30, 40, 50, True, 100]

In [82]:
del D[1] ###Deleting Of Particular Element###

In [83]:
D

[30, 50, True, 100, 100]

In [86]:
D.insert(0,10)  ###Insert an element#####

In [87]:
D

[10, 10, 30, 50, True, 100, 100]

In [88]:
####__Pop___###

In [89]:
D.pop(1)

10

In [92]:
D.pop(5)

100

In [96]:
D.sort()    ####__Sorting__####

In [97]:
print D

[True, 10, 30, 50, 100]

In [102]:
D.reverse()    ####___Reverse___###

In [103]:
print D

[100, 50, 30, 10, True]

In [106]:
D.count((100))   ####_Counting of particular element

1

In [110]:
D.index(30)   ###__Index of particular_Element

2

In [111]:
####_range()_Function in Python

In [112]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [113]:
range(0,10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(0,10,2))  ###Addition of 2

[0, 2, 4, 6, 8]

In [8]:
list(range(10,1,-1))   ##reverse order

[10, 9, 8, 7, 6, 5, 4, 3, 2]

# String

In [10]:
#####_String Literals in python are supported by either single quotation marks('') or double quotation marks("")_#####

In [11]:
"David"

'David'

In [12]:
myname="David"

In [14]:
myname[4]

'd'

In [17]:
myname*2

'DavidDavid'

In [18]:
len(myname)

5

In [21]:
myname.upper()   ##To make given string in upper case

'DAVID'

In [27]:
myname.center(20)    #to align in center

'       David        '

In [31]:
myname.find('i')

3

In [36]:
myname.split('v')    ###Spilting####

['Da', 'id']

####_ A major difference between list and string is-:
We can make some changes in list but not in string.For example we can change list by indexing and assignment but this 
is not possible in string.This is called mutability.

# Tuples###

Tuples is similar to list but it is collection of hetrogenous data and it is also immutable like string.
Tuples are enclosed by comma sepearated value enclosed by parenthesis

In [38]:
myTuple=(9.8,True,28)

In [39]:
myTuple

(9.8, True, 28)

In [40]:
len(myTuple)

3

In [41]:
myTuple*3

(9.8, True, 28, 9.8, True, 28, 9.8, True, 28)

In [44]:
myTuple[2]

28

In [45]:
myTuple[0:2]

(9.8, True)

In [51]:
myTuple[0:4]

(9.8, True, 28)

In [54]:
#Here we are trying to change the value of tuple but it can't be changed because we know tuple is imutable

In [55]:
myTuple[0]=False

TypeError: 'tuple' object does not support item assignment

# _Set_####

Set is unordered collections of python data immutable objects 
Set donot allow duplicate values.in this data is enclosed by curly braces

In [65]:
set={2.9,False,"David"}

In [66]:
set

{False, 2.9, 'David'}

In [67]:
set1={2.9,2.9,True,"David"}

In [68]:
set1

{True, 2.9, 'David'}

In [69]:
len(set)

3

In [70]:
False in set

True

In [73]:
"Dog" in set

False

In [76]:
yourset={99,2.9,"cat"}

In [77]:
yourset

{2.9, 99, 'cat'}

In [78]:
###Union###

In [80]:
set.union(yourset)

{False, 2.9, 99, 'David', 'cat'}

In [81]:
##_Intersection_###

In [82]:
set.intersection(yourset)

{2.9}

In [84]:
set & yourset

{2.9}

In [85]:
###_Difference_###

In [87]:
yourset.difference(set)

{99, 'cat'}

In [88]:
set-yourset

{False, 'David'}

In [89]:
###_Subset_###

In [91]:
{99,2.9}.issubset(yourset)

True

In [92]:
{3,2}.issubset(yourset)

False

In [94]:
{99,2.9}<=(yourset)

True

In [95]:
###_Add_###

In [111]:
set.add("house")

In [112]:
set

{'house'}

In [113]:
###remove###

In [116]:
set1.remove('David')

In [117]:
set

{'house'}

In [101]:
###Pop###

In [115]:
set1.pop()

True

In [120]:
###clear###

In [121]:
set.clear()

In [122]:
set

set()

# _dictionary___##

Dictionary is collection of associate pairs of items which consists of key and values.this is unordered data structure

In [123]:
capitals={'Bihar':'Patna','Telangana':'Hyderabad','WB':'Kolkata'}

In [124]:
capitals

{'Bihar': 'Patna', 'Telangana': 'Hyderabad', 'WB': 'Kolkata'}

In [126]:
capitals['Bihar']

'Patna'

In [127]:
capitals['WB']

'Kolkata'

In [128]:
len(capitals)

3

In [129]:
for k in capitals:
    print(capitals[k],"is the capital",k)

('Hyderabad', 'is the capital', 'Telangana')
('Patna', 'is the capital', 'Bihar')
('Kolkata', 'is the capital', 'WB')

In [130]:
phonenext={'akm':919191,'vkm':727727}

In [131]:
phonenext

{'akm': 919191, 'vkm': 727727}

In [132]:
phonenext.keys()

['vkm', 'akm']

In [133]:
len(phonenext)

2

In [134]:
list(phonenext.keys())

['vkm', 'akm']

In [135]:
phonenext.values()

[727727, 919191]

In [136]:
list(phonenext.values())

[727727, 919191]

In [137]:
phonenext.items()

[('vkm', 727727), ('akm', 919191)]

In [138]:
list(phonenext.items())

[('vkm', 727727), ('akm', 919191)]

In [140]:
phonenext.get('vkm')

727727

In [141]:
phonenext.get('akm')

919191

In [143]:
phonenext.get('akm',alt)

NameError: name 'alt' is not defined